In [28]:
import pandas as pd
import numpy as np
import string
import re
import nltk
from nltk.tokenize import word_tokenize
from nltk.corpus import stopwords
from nltk.stem import WordNetLemmatizer

# Dataset Overview

In [29]:
df = pd.read_csv("/Users/enrique/code/EFRdev/08-Final-Project/SolarSoundBytes/raw_data/guardian_environment_news.csv")
df.head()

,Title,Intro Text,Authors,Article Text,Date Published
0,Liz Truss ‘will approve more oil drilling if ...,Tory leadership candidate criticised by campai...,"['Rob Davies', '@ByRobDavies']",Liz Truss will sign off on a push for more oil...,2022-08-30
1,Renewed Highland golf course plan has environm...,Scottish government rejected a new links at Co...,"['Ewan Murray', '@mrewanmurray']",It is an area so tranquil that the notion of b...,2021-03-22
2,Visiting green spaces deters mental health dr...,Positive effects were stronger among those rep...,"['Damien Gayle', '@damiengayle']","Visits to parks, community gardens and other u...",2023-01-17
3,Bought too much red cabbage? Turn it into a fe...,This fantastic vegan centrepiece makes full us...,['Tom Hunt'],"I devised today’s nut roast for Oddbox, a veg ...",2023-12-22
4,‘This year has been very good’: readers’ UK bu...,Readers share their favourite sightings over t...,['Guardian readers'],‘Constant companions to our gardening’A peacoc...,2023-12-19

In [30]:
df.shape

(30059, 5)

# Delete or Impute Nulls Values

In [31]:
print(df.isnull().sum())

Title              948
Intro Text          82
Authors           4570
Article Text       368
Date Published    2441
dtype: int64

In [32]:
df = df.dropna(subset =['Article Text', 'Date Published','Authors'])
df.shape

(23404, 5)

In [33]:
df['Title'] = df['Title'].fillna('No Title')
df['Intro Text'] = df['Intro Text'].fillna('No Intro Text')
df = df.drop(columns=['Authors'])

In [34]:
print(df.isnull().sum())

Title             0
Intro Text        0
Article Text      0
Date Published    0
dtype: int64

In [35]:
df.shape

(23404, 4)

# Text Cleaning:
**Preprocessing:** lowercase, delete numbers, punctuation and symbols (#"*!&%), splitting, tokenizing?, removing stopwords, lemmatizing

In [37]:
stop_words = set(stopwords.words('english'))
lemmatizer = WordNetLemmatizer()

def preprocess_text(text):
    text = text.lower()

    text = text.translate(str.maketrans("","", string.punctuation))

    tokens = text.split()

    tokens = [word for word in tokens if word not in stop_words]

    tokens = [lemmatizer.lemmatize(word) for word in tokens]
    return ' '.join(tokens)

df['Clean Title'] = df['Title'].apply(preprocess_text)
df['Clean Article Text'] = df['Article Text'].apply(preprocess_text)
df['Clean Intro Text'] = df['Intro Text'].apply(preprocess_text)
df_clean = df.copy()

df_clean = df.drop(columns=['Title','Intro Text','Article Text'])
df_clean.head()

,Date Published,Clean Title,Clean Article Text,Clean Intro Text
0,2022-08-30,liz truss ‘will approve oil drilling becomes pm’,liz truss sign push oil drilling north sea win...,tory leadership candidate criticised campaigne...
1,2021-03-22,renewed highland golf course plan environmenta...,area tranquil notion bitter dispute hugely ano...,scottish government rejected new link coul pro...
2,2023-01-17,visiting green space deters mental health drug...,visit park community garden urban green space ...,positive effect stronger among reporting lowes...
3,2023-12-22,bought much red cabbage turn festive nut roast...,devised today’s nut roast oddbox veg box outfi...,fantastic vegan centrepiece make full use oute...
4,2023-12-19,‘this year good’ readers’ uk butterfly sighting,‘constant companion gardening’a peacock butter...,reader share favourite sighting summer news nu...