In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [34]:
path_2_root = '../'
path_2_data = path_2_root + 'data_test/'
filename = 'sp500_2022_2024_dataset.csv'
df = pd.read_csv(
    path_2_data + filename,
    sep=';')#,
   # quotechar='"',
   # thousands=','
#)
#print(df.columns)
df.head(2)

         Date     Price      Open      High       Low  Vol. Change %
0  12/31/2024  5,881.63  5,919.74  5,929.74  5,868.86   NaN   -0.43%
1  12/30/2024  5,906.94  5,920.67  5,940.79  5,869.16   NaN   -1.07%

In [37]:
df['Price'].head()
df_sp500 = df[['Date', 'Price']]
df_sp500

           Date     Price
0    12/31/2024  5,881.63
1    12/30/2024  5,906.94
2    12/27/2024  5,970.84
3    12/26/2024  6,037.59
4    12/24/2024  6,040.04
..          ...       ...
748  01.07.2022  4,677.00
749  01.06.2022  4,696.10
750  01.05.2022  4,700.60
751  01.04.2022  4,793.50
752  01.03.2022  4,796.60

[753 rows x 2 columns]

In [25]:
print(df['Open'].head())

KeyError: 'Open'